/*
* @Author: admin
* @Date:   2017-06-06 22:21:04
* @Last Modified by:   admin
* @Last Modified time: 2017-06-11 10:37:20
*/

$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;

$text-color: #60606e;

$brand-primary: #7beec7;

$gray-dark: #60606e;

$font-family-sans-serif:  'Open Sans', Helvetica, Arial, sans-serif;

$line-height-base: 1.7;

$line-height-computed: 1;

$headings-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$headings-font-weight: 700;

$btn-primary-border: $brand-primary;


$btn-border-radius-base: 0;

$navbar-height: 30px;

$navbar-padding-vertical: 0;

$nav-link-hover-bg: transparent;

$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;

$breadcrumb-bg: transparent;

$breadcrumb-color: $text-color;

$breadcrumb-active-color: $text-color;

